<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="{% static 'css/AdminLogin.css'%}">
</head>

<body>

    <div class="wrapper">

        <div class="admin-login-container">

            <div class="sidebar">
                <!-- Sidebar content goes here -->
                <h2>Welcome to</h2><br>
                <div class="logo">

                </div>
                <!-- Include the wavy background image in the CSS -->
            </div>



            <div class="form-container">

                <h2>Admin Login</h2>

                <div class="input-box">
                    <form action="{% url 'adminLogin' %}" method="POST">
                        {% csrf_token %}
                        {{form }}
                        <br>
                        <button type="submit" class="btn">Submit</button>
                    </form>
                </div>

            </div>

            {{htmltext }}
            
        </div>

    </div>

</body>

</html>