<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8" />
    <script src = 'https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
    <script>

        document.addEventListener('DOMContentLoaded', function() {
            var calendarE1 = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarE1, {
                initialView: 'dayGridMonth',
                editable:true,
                selectable:true,
                timezone: 'UTC',
                allDay: false,
                events: {{ shifts|safe }},
                timeFormat: 'h:mm:ss ZZ',
            });
            calendar.render();
        })
    </script>
    <title>Calendar</title>
    <!-- <link rel="stylesheet" href="{% static 'css/Dashboard.css' %}"> -->
</head>

<body>

    <div id='calendar'></div>

</body>

</html>