<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8" />
    <title>Calendar</title>
    <!-- <link rel="stylesheet" href="Calendar.css"> -->
    <link rel="stylesheet" href="{% static 'css/Calendar.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <title>Calendar</title>
</head>

<body>
    

    <div class="wrapper">

        <div id="pages">

            <div class="sidebar">
                <nav>
                    <div class="logo"> </div>
                    <a class="design" href="{% url 'dashboard' %}"><i class="bx bxs-dashboard"></i>Home</a>

                    <a class="active" href="{% url 'calendarShiftInput' %}"><i class="bx bx-calendar"></i>Calendar</a>

                    <div class="dropdown">
                        <a class="design" href="#"><i class="bx bxs-data"></i>Pool</a>
                        <div class="dropdown-content">
                            <a href="{% url 'MatchView' %}">Match</a>
                            <a href="{% url 'PickupPoolView' %}">Pickup Request</a>
                        </div>
                    </div>

                    <a class="design" href="{% url 'ShiftStatusView' %}"><i class="bx bx-loader"></i>Status</a>

                    <a class="design" href="{% url 'Chatview' %}"><i class="bx bx-chat"></i>Chat</a>

                    <a class="design" href="{% url 'SettingsView' %}"><i class="bx bx-cog"></i>Settings</a>
                    <br>
                    <br>
                    <br>
                    <a class="design" href="{% url 'userLogout' %}"><i class="bx bx-log-out"></i>Logout</a>
                </nav>
                
            </div>

            <div id='calendar'>
                <button hx-get="{% url 'addShift' %}" hx-target="#dialog" style="font-size: 30px; color: #2d53da;"
                ><i class="bx bxs-plus-circle"></i></button>
            </div>

        </div>

        <div id="modal" class="modal fade">
            <div id="dialog" class="modal-dialog" hx-target="this"></div>
        </div>


        
    <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        (function(){

            const modal = new bootstrap.Modal(document.getElementById("modal"))

            htmx.on("htmx:afterSwap", (e) => {
                if (e.detail.target.id === "dialog") {
                    modal.show()
                }
            }) 
        })()
        
    </script>
    <script>
        (function(){
            htmx.on("htmx:beforeSwap", (e) => {
                if (e.detail.target.id == "dialog" && !e.detail.xhr.response) {
                  modal.hide()
                  e.detail.shouldSwap = false
                }
              })
        })()
    </script>
    <script src = 'https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarE1 = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarE1, {
                initialView: 'dayGridMonth',
                timezone: 'UTC',
                allDay: false,
                selectable: true,
                eventRender: function(info) {
                    $(info.e1).tooltip({
                      title: info.event.extendedProps.description,
                      placement: 'top',
                      trigger: 'hover',
                      container: 'body'
                    });
                },
                events: {{ shifts|safe }},
                timeFormat: 'h:mm:ss ZZ',
            });
            calendar.render();
        })
    </script>

    <script>
        $(document).ready(function() {
            $('#locations').select2({
                dropdownParent: $('#locations')
            });
        });
    </script>
</body>

</html>
