<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="Chat.css"> -->
    <link rel="stylesheet" href="{% static 'css/Chat.css' %}">
    <title>Chat</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.2/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.min.js"></script>
    <script src="https://js.pusher.com/8.2.0/pusher.min.js"></script>
</head>

<body>

    <div class="wrapper">

        <div id="pages">

            <div class="sidebar">
                <nav>
                    <div class="logo"> </div>
                    <a class="design" href="{% url 'dashboard' %}"><i class="bx bxs-dashboard"></i>Home</a>

                    <a class="design" href="{% url 'calendarShiftInput' %}"><i class="bx bx-calendar"></i>Calendar</a>

                    <div class="dropdown">
                        <a class="design" href="#"><i class="bx bxs-data"></i>Pool</a>
                        <div class="dropdown-content">
                            <a href="{% url 'MatchView' %}">Match</a>
                            <a href="{% url 'PickupPoolView' %}">Pickup Request</a>
                        </div>
                    </div>

                    <a class="design" href="{% url 'ShiftStatusView' %}"><i class="bx bx-loader"></i>Status</a>

                    <a class="active" href="{% url 'Chatview' %}"><i class="bx bx-chat"></i>Chat</a>

                    <a class="design" href="{% url 'SettingsView' %}"><i class="bx bx-cog"></i>Settings</a>
                    <br>
                    <br>
                    <br>
                    <a class="design" href="{% url 'userLogout' %}"><i class="bx bx-log-out"></i>Logout</a>
                </nav>
            </div>

            <div class="container" id="app">
                <div class="left-column">
                    <div id="panel-heading">
                        <span class="glyphicon glyphicon-comment"></span>
                        <h1>Chat</h1>
                    </div>
                    <div id="recent-contacts">
                        <div class="title">RECENTS</div>
                        <form action="{% url 'Chatview' %}" method="post">
                            {% csrf_token %}
                            <p id="id_work_days">
                                {% for user in users %}
                                <label><input type="radio" name="user"
                                        value={{user.firstName}}><span>{{user.firstName}}</span></label>
                                {% endfor %}
                                <label><input type="radio" name="user" value="Group"><span>Group</span></label>
                            </p>
                        </form>
                    </div>
                    <div id="contacts">
                        <div class="title">CONTACTS</div>
                    </div>
                </div>

                <div class="right-column">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <div class="chat-header"><h1>{{firstName}}</h1></div>
                                <ul class="chat" id="chat">
                                    <li class="clearfix" v-for="data in conversations">
                                        <span class="chat-img pull-left">
                                            <img :src="'http://placehold.it/50/55C1E7/fff&amp;text='+data.name"
                                                alt="User Avatar" class="img-circle" />
                                        </span>
                                        <div class="chat-body">
                                            <div class="header">
                                                <strong class="primary-font" v-html="data.name"> </strong> <small
                                                    class="pull-right text-muted" v-html="data.status">
                                                </small>
                                            </div>
                                            <p v-html="data.message"></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="panel-footer">
                                <div class="input-group">
                                    <input id="btn-input" v-model="message" class="form-control input-sm"
                                        placeholder="Type your message here..." type="text">
                                    <span class="input-group-btn">
                                        <button class="btn btn-warning btn-sm" id="btn-chat"
                                            @click="sendMessage()">Send</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>

        // Enable pusher logging - don't include this in production
        Pusher.logToConsole = true;

        var pusher = new Pusher('4b5bb58a37e41d8eb66d', {
            cluster: 'us3',
            authEndpoint: '{% url 'pusher_auth' %}',
            auth: {
                headers: {
                    'X-CSRFToken': "{{ csrf_token }}"
                }
            }
        });

        var channel = '{{channel}}';
        var encodedChannel = encodeURIComponent(channel);
        var currentUserID = '{{currentUser.id}}';
        var userTwoID = '{{userTwo.id}}';
        var sortedID = [parseInt({{ currentUser.id }}), parseInt({{ userTwo.id }})].sort((a, b) => a - b);
        var unique_channel = sortedID.join('-');
        var user_channel = pusher.subscribe(unique_channel);
        var my_channel = pusher.subscribe('my_channel');
        var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded' } };
        new Vue({
            el: "#app",
            data: {
                'message': '',
                'conversations': []
            },
            mounted() {
                this.getConversations();
                this.listen();

            },
            methods: {
                sendMessage() {
                    axios.post('broadcast', this.queryParams({ message: this.message, channel: encodedChannel }), config)
                        .then(response => {
                            this.message = '';
                        });
                },
                getConversations() {
                    axios.get('conversations', {
                        params: {
                            channel: encodedChannel
                        }
                    }).then((response) => {
                        this.conversations = response.data;
                        this.readall();
                    });

                },
                listen() {
                    my_channel.bind("an_event", (data) => {
                        this.conversations.push(data);
                        axios.post('conversations' + data.id + 'delivered', this.queryParams({ socket_id: socketId }));
                    })

                    my_channel.bind("delivered_message", (data) => {
                        for (var i = 0; i < this.conversations.length; i++) {
                            if (this.conversations[i].id == data.id) {
                                this.conversations[i].status = data.status;
                            }
                        }

                    })

                    user_channel.bind("an_event", (data) => {
                        this.conversations.push(data);
                        axios.post('/conversations/' + data.id + '/delivered', this.queryParams({ socket_id: socketId }));
                    })

                    user_channel.bind("delivered_message", (data) => {
                        for (var i = 0; i < this.conversations.length; i++) {
                            if (this.conversations[i].id == data.id) {
                                this.conversations[i].status = data.status;
                            }
                        }

                    })


                },
                readall() {

                    for (var i = 0; i < this.conversations.length; i++) {
                        if (this.conversations[i].status == 'Sent') {
                            axios.post('/conversations/' + this.conversations[i].id + '/delivered');
                        }
                    }

                },
                queryParams(source) {
                    var array = [];

                    for (var key in source) {
                        array.push(encodeURIComponent(key) + "=" + encodeURIComponent(source[key]));
                    }

                    return array.join("&");
                }
            }
        });

    </script>

    <script>
        $(document).ready(function () {
            $('input[name=user]').change(function () {
                $('form').submit();
            });
        });

    </script>

</body>

</html>