<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/Login.css' %}">
</head>

<body>
   
    <div class="login-container">
        <div class="sidebar">
            <!-- Sidebar content goes here -->
            <h1>Welcome to</h1><br>
            <h1>shiftXChange</h1>
            <p>Lorem ipsum dolor sit amet...</p>
            <!-- Include the wavy background image in the CSS -->
        </div>

        <div class="form-container">

            <h1>Login</h1>

            <div class="input-box">
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    {{form }}
                    <br>
                    <button type="submit" class="btn">Submit</button>
                </form>
            </div>

        </div>
    </div>

</body>

</html>