<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match Pool</title>
    <!-- <link rel="stylesheet" href="Match.css"> -->
    <link rel="stylesheet" href="{% static 'css/Match.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>

<body>

    <div class="wrapper">

        <div id="pages">

            <div class="sidebar">
                <nav>
                    <div class="logo"> </div>
                    <a class="design" href="{% url 'dashboard' %}"><i class="bx bxs-dashboard"></i>Home</a>

                    <a class="design" href="{% url 'calendarShiftInput' %}"><i class="bx bx-calendar"></i>Calendar</a>

                    <div class="dropdown">
                        <a class="active" href="#"><i class="bx bxs-data"></i>Pool</a>
                        <div class="dropdown-content">
                            <a href="{% url 'MatchView' %}">Match</a>
                            <a href="{% url 'PickupPoolView' %}">Pickup Request</a>
                        </div>
                    </div>

                    <a class="design" href="{% url 'ShiftStatusView' %}"><i class="bx bx-loader"></i>Status</a>

                    <a class="design" href="{% url 'Chatview' %}"><i class="bx bx-chat"></i>Chat</a>

                    <a class="design" href="{% url 'SettingsView' %}"><i class="bx bx-cog"></i>Settings</a>
                    <br>
                    <br>
                    <br>
                    <a class="design" href="{% url 'userLogout' %}"><i class="bx bx-log-out"></i>Logout</a>
                </nav>
            </div>

            <div class="left-column">

                <div id="header">
                    <h1>Match</h1>
                </div>

                <div id="add-shift">
                    <div class="title">ADD TO POOL</div>
                    {% if form2 %}
                        <form action="{% url 'MatchView' %}" method="POST" name="form2">
                            {% csrf_token %}
                            {% for shift in userMatchingShifts %}
                                <div id="shift">
                                    <div id="details">
                                        <input type="hidden" id="shift" name="shift" value="{{shift.id}}">
                                        <p>Date: {{shift.shiftStart.date}} </p>
                                        <p>Time: {{shift.shiftStart.time}} </p>
                                        <p>Role: {{shift.qualification}} </p>
                                        <p>Location: {{shift.location}} </p>
                                    </div>
                                
                                    <button type="submit" name="form2" ><i class="bx bxs-plus-circle"></i></button>
                            {% endfor %}
                        </form>
                    {% endif %}
                    </div>
                    <div id="shift">
                        <div id="details">
                            <p>Date:</p>
                            <p>Time:</p>
                            <p>Role:</p>
                            <p>Location:</p>
                        </div>
                        <i class="bx bxs-plus-circle"></i>
                    </div>
                    <div id="shift">
                        <div id="details">
                            <p>Date:</p>
                            <p>Time:</p>
                            <p>Role:</p>
                            <p>Location:</p>
                        </div>
                        <i class="bx bxs-plus-circle"></i>
                    </div>
                    <div id="shift">
                        <div id="details">
                            <p>Date:</p>
                            <p>Time:</p>
                            <p>Role:</p>
                            <p>Location:</p>
                        </div>
                        <i class="bx bxs-plus-circle"></i>
                    </div>
                </div>

                <div id="remove-shift">
                    <div class="title">REMOVE FROM POOL</div>
                    {% if form3 %}
                    <form action="{% url 'MatchView' %}" method="POST"  id="form3" name="form3">
                        {% csrf_token %}
                    <div id="shift">
                        <div id="details">
                        {% for shift in userMatchingAndPool %}
                            <input type="hidden" id="shift" name="shift" value="{{shift.id}}">
                            <p>Date: {{shift.shiftStart.date}} </p>
                            <p>Time: {{shift.shiftStart.time}} </p>
                            <p>Role: {{shift.qualification}} </p>
                            <p>Location: {{shift.location}} </p>
                            <!-- <p>Request:</p> -->
                        </div>
                            <button type="submit" name="form3"><i class="bx bxs-x-circle"></i></button>
                        {% endfor %}
                    </div>
                    </form>
                    {% endif %}
                    <div id="shift">
                        <div id="details">
                            <p>Date:</p>
                            <p>Time:</p>
                            <p>Role:</p>
                            <p>Location:</p>
                        </div>
                        <i class="bx bxs-x-circle"></i>
                    </div>
                    <div id="shift">
                        <div id="details">
                            <p>Date:</p>
                            <p>Time:</p>
                            <p>Role:</p>
                            <p>Location:</p>
                        </div>
                        <i class="bx bxs-x-circle"></i>
                    </div>
                    <div id="shift">
                        <div id="details">
                            <p>Date:</p>
                            <p>Time:</p>
                            <p>Role:</p>
                            <p>Location:</p>
                        </div>
                        <i class="bx bxs-x-circle"></i>
                    </div>
                </div>
            </div>

            <div class="right-column">

                <div id="shift-pool">
                    <div class="title">MATCH SHIFTS</div>
                    <div id="filter">
                        <form action="{% url 'MatchView' %}" method="POST"  id="form1" name="form1">
                            {% csrf_token %}
                            {{form}}
                            <label>Roles Not Willing To Work
                            <select class="js-example-basic-multiple" id="locations" name="locations[]"
                                multiple="multiple">
                                {% for i in locations %}
                                <option name="locations" value="{{i}}">{{i}}</option>
                                {% endfor %}
                            </select>
                            </label>
                            <input type="submit" name="form1" value="Match">
                        </form>
                    </div>
                    {% for shift in matchingShifts %}
                    <div id="pool-details">
                        <div id="picture">
                            <img src=" " alt="picture">
                        </div>
                        <div class="container">
                            <div id="users-name">
                                <p class="name"> {{shift.username.firstName}} </p>
                                <i class="bx bx-message-rounded"></i>
                            </div>
                            <div id="shifts-in-pool">
                                <a>Date:
                                    <p> {{shift.shiftStart.date}} </p>
                                </a>
                                <a>Time:
                                    <p>{{shift.shiftStart.time}} </p>
                                </a>
                                <a>Role:
                                    <p>{{shift.qualification}} </p>
                                </a>
                                <a>Location:
                                    <p>{{shift.location}} </p>
                                </a>
                            </div>
                        </div>
                        <i class="bx bxs-x-circle"></i>
                        <i class="bx bxs-check-circle"></i>
                    </div>
                    {% endfor %}
                    <div id="pool-details">
                        <div id="picture">
                            <img src=" " alt="picture">
                        </div>
                        <div class="container">
                            <div id="users-name">
                                <p class="name"></p>
                                <i class="bx bx-message-rounded"></i>
                            </div>
                            <div id="shifts-in-pool">
                                <a>Date:
                                    <p></p>
                                </a>
                                <a>Time:
                                    <p></p>
                                </a>
                                <a>Role:
                                    <p></p>
                                </a>
                                <a>Location:
                                    <p></p>
                                </a>
                            </div>
                        </div>
                        <i class="bx bxs-x-circle"></i>
                        <i class="bx bxs-check-circle"></i>
                    </div>
                    <div id="pool-details">
                        <div id="picture">
                            <img src=" " alt="picture">
                        </div>
                        <div class="container">
                            <div id="users-name">
                                <p class="name"></p>
                                <i class="bx bx-message-rounded"></i>
                            </div>
                            <div id="shifts-in-pool">
                                <a>Date:
                                    <p></p>
                                </a>
                                <a>Time:
                                    <p></p>
                                </a>
                                <a>Role:
                                    <p></p>
                                </a>
                                <a>Location:
                                    <p></p>
                                </a>
                            </div>
                        </div>
                        <i class="bx bxs-x-circle"></i>
                        <i class="bx bxs-check-circle"></i>
                    </div>
                    <div id="pool-details">
                        <div id="picture">
                            <img src=" " alt="picture">
                        </div>
                        <div class="container">
                            <div id="users-name">
                                <p class="name"></p>
                                <i class="bx bx-message-rounded"></i>
                            </div>
                            <div id="shifts-in-pool">
                                <a>Date:
                                    <p></p>
                                </a>
                                <a>Time:
                                    <p></p>
                                </a>
                                <a>Role:
                                    <p></p>
                                </a>
                                <a>Location:
                                    <p></p>
                                </a>
                            </div>
                        </div>
                        <i class="bx bxs-x-circle"></i>
                        <i class="bx bxs-check-circle"></i>
                    </div>
                    <div id="pool-details">
                        <div id="picture">
                            <img src=" " alt="picture">
                        </div>
                        <div class="container">
                            <div id="users-name">
                                <p class="name"></p>
                                <i class="bx bx-message-rounded"></i>
                            </div>
                            <div id="shifts-in-pool">
                                <a>Date:
                                    <p></p>
                                </a>
                                <a>Time:
                                    <p></p>
                                </a>
                                <a>Role:
                                    <p></p>
                                </a>
                                <a>Location:
                                    <p></p>
                                </a>
                            </div>
                        </div>
                        <i class="bx bxs-x-circle"></i>
                        <i class="bx bxs-check-circle"></i>
                    </div>
                    <div id="pool-details">
                        <div id="picture">
                            <img src=" " alt="picture">
                        </div>
                        <div class="container">
                            <div id="users-name">
                                <p class="name"></p>
                                <i class="bx bx-message-rounded"></i>
                            </div>
                            <div id="shifts-in-pool">
                                <a>Date:
                                    <p></p>
                                </a>
                                <a>Time:
                                    <p></p>
                                </a>
                                <a>Role:
                                    <p></p>
                                </a>
                                <a>Location:
                                    <p></p>
                                </a>
                            </div>
                        </div>
                        <i class="bx bxs-x-circle"></i>
                        <i class="bx bxs-check-circle"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        $(document).ready(function () {
            $('#locations').select2();
        });
    </script>

</body>

</html>
