<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match Pool</title>
    <!-- <link rel="stylesheet" href="Match.css"> -->
    <link rel="stylesheet" href="{% static 'css/Match.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' />
</head>

<body>

    <div class="wrapper">

        <div id="pages">

            <div class="sidebar">
                <nav>
                    <div class="logo"> </div>
                    <a class="design" href="{% url 'dashboard' %}"><i class="bx bxs-dashboard"></i>Home</a>

                    <a class="design" href="{% url 'calendarShiftInput' %}"><i class="bx bx-calendar"></i>Calendar</a>

                    <div class="dropdown">
                        <a class="active" href="#"><i class="bx bxs-data"></i>Pool</a>
                        <div class="dropdown-content">
                            <a href="{% url 'MatchView' %}">Match</a>
                            <a href="{% url 'PickupPoolView' %}">Pickup Request</a>
                        </div>
                    </div>

                    <a class="design" href="{% url 'ShiftStatusView' %}"><i class="bx bx-loader"></i>Status</a>

                    <a class="design" href="#"><i class="bx bx-chat"></i>Chat</a>

                    <a class="design" href="{% url 'SettingsView' %}"><i class="bx bx-cog"></i>Settings</a>
                    <br>
                    <br>
                    <br>
                    <a class="design" href="#"><i class="bx bx-log-out"></i>Logout</a>
                </nav>
            </div>

            <!-- <i class="bx bxs-message-rounded"></i>
            <i class="bx bxs-x-circle"></i>
            <i class="bx bxs-check-circle"></i> -->

            <!-- <form action="{% url 'MatchView' %}" method="POST">
                {% csrf_token %}
                <input type="radio" name="filter" id="free">
                <label for="free">Free</label>
                <input type="radio" name="filter" id="paid">
                <label for="paid">Paid</label>
                <button type="submit">Filter</button>
            </form> -->

            <!-- <form action="{% url 'pickingUpShifts' %}" method="POST">
                {% csrf_token %}
                {% for shift in shifts %}

                <div id="shift">
                    <div class="info">
                        <img src=" " alt="picture">
                        <i class="bx bxs-message-rounded"></i>
                        <input type="hidden" id="shift" name="shift" value="
                        {{ shift.id}}">
                        Shift Start: {{ shift.shiftStart}}
                        Shift End: {{ shift.shiftEnd}}
                        Hours: {{ shift.hours}}
                        Owner: {{ shift.username}}
                        <button type="submit"><i class="bx bxs-check-circle"></i></button>
                    </div>
                    {% endfor %}
                </form> -->

            <div class="left-column">

                <div id="header">
                    <h1>Match</h1>
                </div>

                <div id="owned-shift">
                    <div class="title">ADD TO POOL</div>
                    <div id="shift">
                        <div class="details">
                            <p>Date:</p>
                            <p>Time:</p>
                            <p>Role:</p>
                            <p>Location:</p>
                        </div>
                        <i class="bx bxs-plus-circle"></i>
                    </div>
                    <div id="shift">
                        <div class="details">
                            <p>Date:</p>
                            <p>Time:</p>
                            <p>Role:</p>
                            <p>Location:</p>
                        </div>
                        <i class="bx bxs-plus-circle"></i>
                    </div>
                    <div id="shift">
                        <div class="details">
                            <p>Date:</p>
                            <p>Time:</p>
                            <p>Role:</p>
                            <p>Location:</p>
                        </div>
                        <i class="bx bxs-plus-circle"></i>
                    </div>
                    <div id="shift">
                        <div class="details">
                            <p>Date:</p>
                            <p>Time:</p>
                            <p>Role:</p>
                            <p>Location:</p>
                        </div>
                        <i class="bx bxs-plus-circle"></i>
                    </div>
                    <div id="shift">
                        <div class="details">
                            <p>Date:</p>
                            <p>Time:</p>
                            <p>Role:</p>
                            <p>Location:</p>
                        </div>
                        <i class="bx bxs-plus-circle"></i>
                    </div>
                </div>

                <div id="shift-for-grabs">
                    <div class="title">REMOVE FROM POOL</div>
                    <div id="shift">
                        <div class="details">
                            <p>Date:</p>
                            <p>Time:</p>
                            <p>Role:</p>
                            <p>Location:</p>
                            <p>Request:</p>
                        </div>
                        <i class="bx bxs-x-circle"></i>
                    </div>
                    <div id="shift">
                        <div class="details">
                            <p>Date:</p>
                            <p>Time:</p>
                            <p>Role:</p>
                            <p>Location:</p>
                            <p>Request:</p>
                        </div>
                        <i class="bx bxs-x-circle"></i>
                    </div>
                    <div id="shift">
                        <div class="details">
                            <p>Date:</p>
                            <p>Time:</p>
                            <p>Role:</p>
                            <p>Location:</p>
                            <p>Request:</p>
                        </div>
                        <i class="bx bxs-x-circle"></i>
                    </div>
                    <div id="shift">
                        <div class="details">
                            <p>Date:</p>
                            <p>Time:</p>
                            <p>Role:</p>
                            <p>Location:</p>
                            <p>Request:</p>
                        </div>
                        <i class="bx bxs-x-circle"></i>
                    </div>
                    <div id="shift">
                        <div class="details">
                            <p>Date:</p>
                            <p>Time:</p>
                            <p>Role:</p>
                            <p>Location:</p>
                            <p>Request:</p>
                        </div>
                        <i class="bx bxs-x-circle"></i>
                    </div>
                </div>
            </div>

            <div class="right-column">

                <div id="shift-pool">
                    <div class="title">MATCH SHIFTS</div>
                    <div id="filter">
                        <p>Filter goes here</p>
                    </div>
                    <div id="pool-details">
                        <img src=" " alt="picture">
                        <div class="info">
                            <p class="name">Name</p>
                            <i class="bx bx-message-rounded"></i>
                            <p>Date:</p>
                            <p>Time:</p>
                            <p>Role:</p>
                            <p>Location:</p>
                        </div>
                        <i class="bx bxs-x-circle"></i>
                        <i class="bx bxs-check-circle"></i>
                    </div>
                    <div id="pool-details">
                        <img src=" " alt="picture">
                        <div class="info">
                            <p class="name">Name</p>
                            <i class="bx bx-message-rounded"></i>
                            <p>Date:</p>
                            <p>Time:</p>
                            <p>Role:</p>
                            <p>Location:</p>
                        </div>
                        <i class="bx bxs-x-circle"></i>
                        <i class="bx bxs-check-circle"></i>
                    </div>
                    <div id="pool-details">
                        <img src=" " alt="picture">
                        <div class="info">
                            <p class="name">Name</p>
                            <i class="bx bx-message-rounded"></i>
                            <p>Date:</p>
                            <p>Time:</p>
                            <p>Role:</p>
                            <p>Location:</p>
                        </div>
                        <i class="bx bxs-x-circle"></i>
                        <i class="bx bxs-check-circle"></i>
                    </div>
                    <div id="pool-details">
                        <img src=" " alt="picture">
                        <div class="info">
                            <p class="name">Name</p>
                            <i class="bx bx-message-rounded"></i>
                            <p>Date:</p>
                            <p>Time:</p>
                            <p>Role:</p>
                            <p>Location:</p>
                        </div>
                        <i class="bx bxs-x-circle"></i>
                        <i class="bx bxs-check-circle"></i>
                    </div>
                    <div id="pool-details">
                        <img src=" " alt="picture">
                        <div class="info">
                            <p class="name">Name</p>
                            <i class="bx bx-message-rounded"></i>
                            <p>Date:</p>
                            <p>Time:</p>
                            <p>Role:</p>
                            <p>Location:</p>
                        </div>
                        <i class="bx bxs-x-circle"></i>
                        <i class="bx bxs-check-circle"></i>
                    </div>
                    <div id="pool-details">
                        <img src=" " alt="picture">
                        <div class="info">
                            <p class="name">Name</p>
                            <i class="bx bx-message-rounded"></i>
                            <p>Date:</p>
                            <p>Time:</p>
                            <p>Role:</p>
                            <p>Location:</p>
                        </div>
                        <i class="bx bxs-x-circle"></i>
                        <i class="bx bxs-check-circle"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>