<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pickup Pool</title>
    <!-- <link rel="stylesheet" href="PickupPool.css"> -->
    <link rel="stylesheet" href="{% static 'css/PickupPool.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' />
</head>

<body>

    <div class="wrapper">

        <div id="pages">

            <div class="sidebar">
                <nav>
                    <div class="logo"> </div>
                    <a class="design" href="{% url 'dashboard' %}"><i class="bx bxs-dashboard"></i>Home</a>

                    <a class="design" href="{% url 'calendarShiftInput' %}"><i class="bx bx-calendar"></i>Calendar</a>

                    <div class="dropdown">
                        <a class="active" href="#"><i class="bx bxs-data"></i>Pool</a>
                        <div class="dropdown-content">
                            <a href="{% url 'MatchView' %}">Match</a>
                            <a href="{% url 'PickupPoolView' %}">Pickup Request</a>
                        </div>
                    </div>

                    <a class="design" href="{% url 'ShiftStatusView' %}"><i class="bx bx-loader"></i>Status</a>

                    <a class="design" href="#"><i class="bx bx-chat"></i>Chat</a>

                    <a class="design" href="{% url 'SettingsView' %}"><i class="bx bx-cog"></i>Settings</a>
                    <br>
                    <br>
                    <br>
                    <a class="design" href="{% url 'userLogout' %}"><i class="bx bx-log-out"></i>Logout</a>
                </nav>
            </div>

            <!-- <i class="bx bxs-message-rounded"></i>
            <i class="bx bxs-x-circle"></i>
            <i class="bx bxs-check-circle"></i> -->

            <!-- <form action="{% url 'PickupPoolView' %}" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" name="post_shift" value="Post Shift">
                <input type="submit" name="shift_match" value="Shift Match">
            </form>
        </div>

        {% for shift in shifts %}

        <div id="shift">
            <div class="info">
                <img src=" " alt="picture">
                <i class="bx bxs-message-rounded"></i>
                Shift Start: {{ shift.shiftStart}}
                Shift End: {{ shift.shiftEnd}}
                Hours: {{ shift.hours}}
                Owner: {{ shift.username}}
                Shift Exchange: {{ shift.dateAvailable}}
            </div>
            <i class="bx bxs-x-circle"></i>
            <i class="bx bxs-check-circle"></i>
        </div>
        {% endfor %} -->

            <div class="right-column">

                <div id="header">
                    <h1>Pickup</h1>
                </div>

                <div id="main-content">
                    <div id="free-shifts">
                        <div class="title">FREE SHIFTS</div>
                        <div id="filter">
                            <p>Filter goes here</p>
                        </div>
                        {% for shift in notPaid %}
                        <div id="pool-details">
                            <img src=" " alt="picture">
                            <div class="info">
                                <p class="name"> {{shift.username.firstName}} </p>
                                <i class="bx bx-message-rounded"></i>
                                <p>Date: {{shift.shiftStart.date}} </p>
                                <p>Time: {{shift.shiftStart.time}} </p>
                                <p>Role: {{shift.qualification}} </p>
                                <p>Location: {{shift.location}} </p>
                            </div>
                            <i class="bx bxs-x-circle"></i>
                            <i class="bx bxs-check-circle"></i>
                        </div>
                        {% endfor %}
                        
                    </div>

                    <div id="paid-shifts">
                        <div class="title">PAID SHIFTS</div>
                        <div id="filter">
                            <p>Filter goes here</p>
                        </div>
                        {% for shift in paid %}
                        <div id="pool-details">
                            <img src=" " alt="picture">
                            <div class="info">
                                <p class="name"> {{shift.username.firstName}} </p>
                                <i class="bx bx-message-rounded"></i>
                                <p>Date: {{shift.shiftStart.date}} </p>
                                <p>Time: {{shift.shiftStart.time}} </p>
                                <p>Role: {{shift.qualification}} </p>
                                <p>Location: {{shift.location}} </p>
                                <p>Amount: ${{shift.moneyAmount}} </p>
                            </div>
                            <i class="bx bxs-x-circle"></i>
                            <i class="bx bxs-check-circle"></i>
                        </div>
                        {% endfor %}
                        <div id="pool-details">
                            <img src=" " alt="picture">
                            <div class="info">
                                <p class="name">Name</p>
                                <i class="bx bx-message-rounded"></i>
                                <p>Date:</p>
                                <p>Time:</p>
                                <p>Role:</p>
                                <p>Location:</p>
                                <p>$$</p>
                            </div>
                            <i class="bx bxs-x-circle"></i>
                            <i class="bx bxs-check-circle"></i>
                        </div>
                        <div id="pool-details">
                            <img src=" " alt="picture">
                            <div class="info">
                                <p class="name">Name</p>
                                <i class="bx bx-message-rounded"></i>
                                <p>Date:</p>
                                <p>Time:</p>
                                <p>Role:</p>
                                <p>Location:</p>
                                <p>$$</p>
                            </div>
                            <i class="bx bxs-x-circle"></i>
                            <i class="bx bxs-check-circle"></i>
                        </div>
                        <div id="pool-details">
                            <img src=" " alt="picture">
                            <div class="info">
                                <p class="name">Name</p>
                                <i class="bx bx-message-rounded"></i>
                                <p>Date:</p>
                                <p>Time:</p>
                                <p>Role:</p>
                                <p>Location:</p>
                                <p>$$</p>
                            </div>
                            <i class="bx bxs-x-circle"></i>
                            <i class="bx bxs-check-circle"></i>
                        </div>
                        <div id="pool-details">
                            <img src=" " alt="picture">
                            <div class="info">
                                <p class="name">Name</p>
                                <i class="bx bx-message-rounded"></i>
                                <p>Date:</p>
                                <p>Time:</p>
                                <p>Role:</p>
                                <p>Location:</p>
                                <p>$$</p>
                            </div>
                            <i class="bx bxs-x-circle"></i>
                            <i class="bx bxs-check-circle"></i>
                        </div>
                        <div id="pool-details">
                            <img src=" " alt="picture">
                            <div class="info">
                                <p class="name">Name</p>
                                <i class="bx bx-message-rounded"></i>
                                <p>Date:</p>
                                <p>Time:</p>
                                <p>Role:</p>
                                <p>Location:</p>
                                <p>$$</p>
                            </div>
                            <i class="bx bxs-x-circle"></i>
                            <i class="bx bxs-check-circle"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</body>

</html>