<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <!-- <link rel="stylesheet" href="Settings.css"> -->
    <link rel="stylesheet" href="{% static 'css/Settings.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' />
</head>

<body>

    <div class="wrapper">

        <div id="pages">

            <div class="sidebar">
                <nav>
                    <div class="logo"> </div>
                    <a class="design" href="{% url 'dashboard' %}"><i class="bx bxs-dashboard"></i>Home</a>

                    <a class="design" href="{% url 'calendarShiftInput' %}"><i class="bx bx-calendar"></i>Calendar</a>

                    <div class="dropdown">
                        <a class="design" href="#"><i class="bx bxs-data"></i>Pool</a>
                        <div class="dropdown-content">
                            <a href="{% url 'MatchView' %}">Match</a>
                            <a href="{% url 'PickupPoolView' %}">Pickup Request</a>
                        </div>
                    </div>

                    <a class="design" href="{% url 'ShiftStatusView' %}"><i class="bx bx-loader"></i>Status</a>

                    <a class="design" href="#"><i class="bx bx-chat"></i>Chat</a>

                    <a class="active" href="{% url 'SettingsView' %}"><i class="bx bx-cog"></i>Settings</a>
                    <br>
                    <br>
                    <br>
                    <a class="design" href="#"><i class="bx bx-log-out"></i>Logout</a>
                </nav>
            </div>

            <div class="right-column">

                <div id="header">
                    <h1>Settings</h1>
                </div>

                <div id="main-content">
                    <div id="settings">
                        <div id="setting">
                            <p>First Name:</p>
                        </div>
                        <div id="setting">
                            <p>Last Name:</p>
                        </div>
                        <div id="setting">
                            <p>Email:</p>
                        </div>
                        <div id="setting">
                            <p>Password:</p>
                        </div>
                        <div id="setting">
                            <p>Roles:</p>
                        </div>
                        <div id="setting">
                            <p>Notifications</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

</body>

</html>