<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shift Status</title>
    <!-- <link rel="stylesheet" href="ShiftStatus.css"> -->
    <link rel="stylesheet" href="{% static 'css/ShiftStatus.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' />
</head>

<body>

    <div class="wrapper">

        <div id="pages">

            <div class="sidebar">
                <nav>
                    <div class="logo"> </div>
                    <a class="design" href="{% url 'dashboard' %}"><i class="bx bxs-dashboard"></i>Home</a>

                    <a class="design" href="{% url 'calendarShiftInput' %}"><i class="bx bx-calendar"></i>Calendar</a>

                    <div class="dropdown">
                        <a class="design" href="#"><i class="bx bxs-data"></i>Pool</a>
                        <div class="dropdown-content">
                            <a href="{% url 'MatchView' %}">Match</a>
                            <a href="{% url 'PickupPoolView' %}">Pickup Request</a>
                        </div>
                    </div>

                    <a class="active" href="{% url 'ShiftStatusView' %}"><i class="bx bx-loader"></i>Status</a>

                    <a class="design" href="{% url 'Chatview' %}"><i class="bx bx-chat"></i>Chat</a>

                    <a class="design" href="{% url 'SettingsView' %}"><i class="bx bx-cog"></i>Settings</a>
                    <br>
                    <br>
                    <br>
                    <a class="design" href="{% url 'userLogout' %}"><i class="bx bx-log-out"></i>Logout</a>
                </nav>
            </div>

            <div class="right-column">

                <div id="header">
                    <h1>Shift Status</h1>
                </div>

                <div id="main-content">
                    <div class="title">SHIFT STATUS</div>
                    <div id="main-content-wrapper">
                        <div id="shift-for-grabs">
                            <div class="title">Shift 1</div>
                            <p>Pending</p>
                            <p>Time Left:</p>
                        </div>
                        <div id="shift-for-grabs">
                            <div class="title">Shift 2</div>
                            <p>Pending</p>
                            <p>Time Left:</p>
                        </div>
                        <div id="shift-for-grabs">
                            <div class="title">Shift 3</div>
                            <p>Pending</p>
                            <p>Time Left:</p>
                        </div>
                        <div id="shift-for-grabs">
                            <div class="title">Shift 4</div>
                            <p>Pending</p>
                            <p>Time Left:</p>
                        </div>
                        <div id="shift-for-grabs">
                            <div class="title">Shift 5</div>
                            <p>Pending</p>
                            <p>Time Left:</p>
                        </div>
                        <div id="shift-for-grabs">
                            <div class="title">Shift 6</div>
                            <p>Pending</p>
                            <p>Time Left:</p>
                        </div>
                    </div>
                </div>

                <div id="main-content">
                    <div class="title">MATCHING STATUS</div>
                    <div id="main-content-wrapper">
                        <div id="matching-status">
                            <div class="title">Shift 1</div>
                            <p class="name">Name</p>
                            <p>Pending</p>
                            <p>Time Left:</p>
                        </div>
                        <div id="matching-status">
                            <div class="title">Shift 2</div>
                            <p class="name">Name</p>
                            <p>Pending</p>
                            <p>Time Left:</p>
                        </div>
                        <div id="matching-status">
                            <div class="title">Shift 3</div>
                            <p class="name">Name</p>
                            <p>Pending</p>
                            <p>Time Left:</p>
                        </div>
                        <div id="matching-status">
                            <div class="title">Shift 4</div>
                            <p class="name">Name</p>
                            <p>Pending</p>
                            <p>Time Left:</p>
                        </div>
                        <div id="matching-status">
                            <div class="title">Shift 5</div>
                            <p class="name">Name</p>
                            <p>Pending</p>
                            <p>Time Left:</p>
                        </div>
                        <div id="matching-status">
                            <div class="title">Shift 6</div>
                            <p class="name">Name</p>
                            <p>Pending</p>
                            <p>Time Left:</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>
