<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shift Pool</title>
    <link rel="stylesheet" href="{% static 'css/Registration.css' %}">
</head>

<body>
                <h2>Shift Pool</h2>

                    <form action="{% url 'shiftMatching' %}" method="POST">
                        {% csrf_token %}
                        {{ form }}
                        
                        <br>
                        <button type="submit">Sign Up</button>
                    </form>

</body>

</html>