<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shift Pool</title>
    <!-- <link rel="stylesheet" href="TradePool.css"> -->
    <link rel="stylesheet" href="{% static 'css/TradePool.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet' />
</head>

<body>

    <div class="wrapper">

        <div id="pages">

            <div class="sidebar">
                <nav>
                    <div class="logo"> </div>
                    <a class="design" href="{% url 'calendarShiftInput' %}"><i class="bx bxs-dashboard"></i>Home</a>

                    <a class="design" href="{% url 'calendarView' %}"><i class="bx bx-calendar"></i>Calendar</a>

                    <div class="dropdown">
                        <a class="active" href="#"><i class="bx bxs-data"></i>Pool</a>
                        <div class="dropdown-content">
                            <a href="{% url 'TradePoolView' %}">Trade Request</a>
                            <a href="{% url 'PickupPoolView' %}">Pickup Request</a>
                        </div>
                    </div>

                    <a class="design" href="#"><i class="bx bx-loader"></i>Status</a>

                    <a class="design" href="#"><i class="bx bx-chat"></i>Chat</a>

                    <a class="design" href="#"><i class="bx bx-cog"></i>Settings</a>
                    <br>
                    <br>
                    <br>
                    <a class="design" href="#"><i class="bx bx-log-out"></i>Logout</a>
                </nav>
            </div>

            <div class="right-column">

                <div id="header">
                    <div class="title">
                        <h4>Trade Request</h4>
                    </div>
                    <div class="option">
                        <a href="#">Free</a>
                        <p> | </p>
                        <a href="#">Paid</a>
                    </div>
                </div>

                <div id="shift">
                    <div class="info">
                        <img src=" " alt="picture">
                        <i class="bx bxs-message-rounded"></i>
                    </div>
                    <i class="bx bxs-x-circle"></i>
                    <i class="bx bxs-check-circle"></i>
                </div>

                <div id="shift">
                    <div class="info">
                        <img src=" " alt="picture">
                        <i class="bx bxs-message-rounded"></i>
                    </div>
                    <i class="bx bxs-x-circle"></i>
                    <i class="bx bxs-check-circle"></i>
                </div>

                <div id="shift">
                    <div class="info">
                        <img src=" " alt="picture">
                        <i class="bx bxs-message-rounded"></i>
                    </div>
                    <i class="bx bxs-x-circle"></i>
                    <i class="bx bxs-check-circle"></i>
                </div>

                <div id="shift">
                    <div class="info">
                        <img src=" " alt="picture">
                        <i class="bx bxs-message-rounded"></i>
                    </div>
                    <i class="bx bxs-x-circle"></i>
                    <i class="bx bxs-check-circle"></i>
                </div>

                <div id="shift">
                    <div class="info">
                        <img src=" " alt="picture">
                        <i class="bx bxs-message-rounded"></i>
                    </div>
                    <i class="bx bxs-x-circle"></i>
                    <i class="bx bxs-check-circle"></i>
                </div>

                <!-- <h2>Shift Pool</h2>

                    <form action="{% url 'shiftMatching' %}" method="POST">
                        {% csrf_token %}
                        {{ form }}

                        <br>
                        <button type="submit">Add</button>
                    </form>

                    <h2>Shift Pool</h2>
                    <form>
                        <table>
                            <tr>
                                <th>Shift Start</th>
                                <th>Shift End</th>
                                <th>Hours</th>
                                <th>Owner</th>
                            </tr>
                            <input type="checkbox" id="shift" name="shift" value="shift">
                            <tr>
                                {% for shift in shifts %}
                                <td>{{ shift.shiftStart}}</td>
                                <td>{{ shift.shiftEnd}}</td>
                                <td>{{ shift.hours}}</td>
                                <td>{{ shift.username}}</td>
                                {% endfor %}
                                {% if not forloop.last %}+{% endif %}
                        </table>  -->
            </div>
        </div>

    </div>

</body>

</html>